.DS_Store
*.o

src/units/test-kv-compl
src/units/test-nfa-prop
src/units/test-parser
src/units/test-process
src/units/test-sch-compl
src/units/test-sch-red-compl
src/units/compl-check
src/units/test-sch-hard
src/units/test-simulation
src/units/test-sch-opt-compl
src/units/test-hoa-parser
src/units/test-classify
src/units/test-hoa-word
src/rnk-red-complement
src/ranker
src/ranker-sim
src/ranker-composition
src/ranker-tight
src/build

src/units/tmp*
src/units/all.ba

benchmarks
results
evaluation
examples
experimental

src/img
src/obj

gitversion.cpp
